@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
 background-color: hsl(217, 54%, 11%);
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Outfit', sans-serif;
 
 .card{
  background-color: hsl(216, 50%, 16%);
  max-width: 20rem;
  padding: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .main-img{
   width: 20rem;
   height: 20rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
  }

  .card-info{
   h2{
    color: white;
   }
   p{
    font-size: 18px;
    color: #6b7f9c;
    margin: 10px 0;
   }


   .ntf-and-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .ntf, .time{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     
    }

    .ntf{
     p{
      color: #3dd7e1;
      font-size: 16px;
     }
    }

    .time{
     p{
      color: #8199bb;
      font-size: 16px;
     }
    }
   }

   .line::after{
    border-top: 1px solid hsl(215, 32%, 27%);
    display: block;
    margin: 10px auto;
    width: 100%;
    content: "";
   }

   .creator{
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 20px;
    
    .avatar{
     background-color: white;
     width: 2.5rem;
     height: 2.5rem;
     padding: 1px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     
     img{
      width: 2.5rem;
      object-fit: fill;
      margin-right: 20px;
     }    
    }

    p{
     font-size:18px;
     span{
      color: white;
      padding-left: 5px;
     }
    }
   }
  }


 }
}